// Import Core Clean Blog SCSS
@import "../assets/vendor/startbootstrap-clean-blog/scss/styles.scss";

header.masthead {
  .overlay {
    background-color: black;
  }
}

#content iframe {
  width: 100%;
  border: none;
}
